{% extends 'base_layout.html' %}

{% block content %}
<h1>Formulario de Escuelas</h1>
<div class="container mb-7 mt-5">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="nombre">Nombre</label>
            {{ form.nombre }}
        </div>
        <div class="form-group">
            <label for="direccion">Direccion</label>
            {{ form.direccion }}
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            {{ form.email }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock  %}