nav, footer {
    background-color: rgb(230, 198, 175);
}

.h1-usuarios {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
}