{% extends 'base_layout.html' %}

{% block content %}

<body>
    {% if form.errors %}
    <h4>Los datos de autenticación no corresponden. Trata nuevamente.</h4>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
      <h4>Tu cuenta no tiene acceso a este recurso.</h4>
      <p>Debes tener los privilegios, contacta al administrador.</p>
      {% else %}
      <p>Debes autenticarte para acceder a este sitio.</p>
      {% endif %}
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</body>

{% endblock  %}